<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>Holdback</ion-title>
        <ion-avatar slot="end" class="header-logo">
            <img src="./assets/img/logo1.png" alt="Hindalco">
        </ion-avatar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <ion-list class="inputs-list" lines="full" *ngIf="reasons">
            <ion-item class="input-item">
                <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                <ion-select label="Reason for Container holdback" label-placement="floating"
                    [(ngModel)]="meta.reason_id">
                    <ion-select-option *ngFor="let reason of reasons" [value]="reason.reason_id">
                        {{ reason.reason }}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-button class="btn" color="primary" type="submit" expand="block" (click)="updateReasons()"
                [disabled]="meta.reason_id=='' || !meta.reason_id">Submit</ion-button>
        </ion-list>
        <ion-list class="inputs-list" lines="full" *ngIf="!reasons">
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>