<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>Pallets Inspection</ion-title>
		<ion-avatar slot="end" class="header-logo">
			<img src="./assets/img/logo1.png" alt="Hindalco">
		</ion-avatar>
	</ion-toolbar>
	<ion-searchbar class="ion-no-padding ion-no-margin" show-clear-button="never" (keyup)="searchData($event)"
		(ionChange)="searchData($event)" [(ngModel)]="meta.search"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="container">
		<div *ngIf="inspections">
			<ion-row class="work-orders" *ngFor="let inspection of inspections" (click)="viewInspection(inspection)">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin" button>
						<ion-row>
							<ion-col size="6" class="ion-text-left">Receipt No: <br><b> {{ inspection.receipt_no }}
								</b></ion-col>
							<ion-col size="6" class="ion-text-right">
								<ion-chip color="success" *ngIf="inspection.status == 'Completed'"> {{ inspection.status }}
								</ion-chip>
								<ion-chip color="warning" *ngIf="inspection.status == 'Pending'"> {{ inspection.status }}
								</ion-chip>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Date: <br><b>{{ convertDate(inspection.created_at)
									}}
								</b></ion-col>
							<ion-col size="6" class="ion-text-right">Wagon No: <br><b> {{ inspection.wagon_no }}
								</b></ion-col>

						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
				[disabled]="meta.page==meta.last_page">
				<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Data.....">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
		<div *ngIf="!inspections">
			<ion-row class="work-orders" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<div id="container" *ngIf="inspections?.length == 0">
			<img src="./assets/img/logo.png">
			<p>No data found.</p>
			<span>Please check back later !...</span>
		</div>
	</div>
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button (click)="addInspection()">
			<ion-icon name="add-circle"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>