<ion-header class="ion-no-border">
	<ion-toolbar color="primary">
		<ion-title>Edit Lot</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="container">
	<div class="login-content">
		<ion-list class="inputs-list" lines="full">
			<ion-item class="input-item">
				<ion-icon name="location-outline" slot="start"></ion-icon>
				<ion-label position="stacked">Location</ion-label>
				<ion-select [(ngModel)]="meta.storage_id">
					<div *ngIf="storages">
						<ion-select-option *ngFor="let storage of storages" [value]="storage.storage_id">
							{{ storage.storage_name }}
						</ion-select-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="stacked">Lot No</ion-label>
				<ion-input type="text" [(ngModel)]="meta.lot_no" (ionInput)="checkLotNo($event)"></ion-input>
			</ion-item>
			<div class="error-container" *ngIf="valid_lot_no == false && valid_lot_no_message!=''">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline" color="danger"></ion-icon>
						<span style="color: red;">{{valid_lot_no_message}}</span>
					</div>
				</ng-container>
			</div>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="stacked">Bags</ion-label>
				<ion-input type="number" [(ngModel)]="meta.loading_bags"></ion-input>
			</ion-item>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="stacked">Tons</ion-label>
				<ion-input type="number" [(ngModel)]="meta.loading_quantity"></ion-input>
			</ion-item>
			<ion-button class="btn" color="primary" expand="block" (click)="updateLot()"
				[disabled]="valid_lot_no_message !== '' || meta.storage_id==null || meta.lot_no ==null||meta.loading_bags==null ||meta.loading_quantity==null|| meta.storage_id=='' || meta.lot_no ==''||meta.loading_bags=='' ||meta.loading_quantity==''">Submit</ion-button>
		</ion-list>
	</div>
</ion-content>