<ion-header class="ion-no-border">
	<ion-toolbar color="primary">
		<ion-title>New Pallet Inspection</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="container">
	<div class="login-content">
		<ion-list class="inputs-list" lines="full">
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="floating">Receipt No</ion-label>
				<ion-input type="text" readonly [(ngModel)]="meta.receipt_no"></ion-input>
			</ion-item>
			<ion-item id="receipt_date_time" class="input-item">
				<ion-icon name="calendar-outline" slot="start"></ion-icon>
				<ion-popover trigger="receipt_date_time" size="cover">
					<ng-template>
						<ion-datetime presentation="date" style="margin-left: 10px;"
							[showDefaultButtons]="true" size="cover"
							(ionChange)="convertDate($event, meta.receipt_date_time)"></ion-datetime>
					</ng-template>
				</ion-popover>
				<ion-input type="text" label="Receipt Date" label-placement="floating"
					[(ngModel)]="meta.receipt_date_time"></ion-input>
			</ion-item>
			<ion-item class="input-item">
				<ion-icon name="people-outline" slot="start"></ion-icon>
				<ion-label position="floating">Supplier</ion-label>
				<ion-select [(ngModel)]="meta.supplier_id">
					<div *ngIf="suppliers">
						<ion-select-option *ngFor="let supplier of suppliers" [value]="supplier.supplier_id">
							{{ supplier.supplier_name }}
						</ion-select-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item class="input-item">
				<ion-icon name="bus-outline" slot="start"></ion-icon>
				<ion-label position="floating">Wagon No</ion-label>
				<ion-input type="text" [(ngModel)]="meta.wagon_no" (ionInput)="checkWagonNo($event)"></ion-input>
			</ion-item>
			<div class="error-container" *ngIf="errors">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ errors }}</span>
					</div>
				</ng-container>
			</div>
			<div class="error-container" *ngIf="valid_wagon_no == false && valid_wagon_no_message!=''">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline" color="danger"></ion-icon>
						<span style="color: red;">{{valid_wagon_no_message}}</span>
					</div>
				</ng-container>
			</div>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="floating">Note</ion-label>
				<ion-textarea type="text" [(ngModel)]="meta.note"></ion-textarea>
			</ion-item>
			<ion-row>
				<ion-col size="6" class="ion-text-left">
					<h6 class="lot-label">Inspection Lots</h6>
				</ion-col>
				<ion-col size="6" class="ion-text-right" (click)="addInspectionLots()">
					<h6 class="lot-label"><a>Add Inspection Lots</a></h6>
				</ion-col>
			</ion-row>
			<div *ngIf="meta.inspection_lots.length!=0">
				<ion-col size="12" class="ion-no-padding" *ngFor="let inspection_lot of meta.inspection_lots">
					<ion-card>
						<ion-row>
							<ion-col size="3" class="ion-text-left">Lot No: <br>
								<strong> {{inspection_lot.lot_no}}
								</strong>
							</ion-col>
							<ion-col size="5" class="ion-text-left">Pallet Size: <br> <strong>
									{{inspection_lot.pallet_size.pallet_size_name}}
								</strong>
							</ion-col>
							<ion-col size="3" class="ion-text-left">No of Pallets: <br>
								<strong> {{inspection_lot.number_of_pallet}}
								</strong>
							</ion-col>
							<ion-col size="1" class="ion-text-center" (click)="confirmSelection(inspection_lot)">
								<ion-icon name="ellipsis-vertical-outline"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</div>
			<ion-button class="btn" color="primary" expand="block"
				[disabled]="meta.supplier_id=='' || meta.wagon_no=='' || meta.inspection_lots.length==0"
				(click)="addInspection()">Submit</ion-button>
		</ion-list>
	</div>
</ion-content>