:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--ion-color-light);
}

.login-content {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}
ion-content {
	--background: var(--page-background);
}
.inputs-list {
	margin: 0px;
	--ion-item-background: var(--page-background);

	.input-item {
		--background: var(--ion-color-primary-contrast);
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
		--border-radius: 5px 5px 0 0;
		margin-bottom: 10px;

		ion-icon {
			margin: 15px 10px 5px 5px !important;
		}

		ion-button {
			margin: 15px 10px 0 0 !important;
		}
	}
}

ion-card {
	padding: 5px;
	margin: 0%;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: none;
	ion-card-content {
		padding: 0%;
		margin: 0%;
	}
}