:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--app-background);
}

ion-toolbar {
	position: absolute;
	--background: transparent;
	--color: #000;
}

.login-content {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}

.logo {
	position: relative;
	display: flex;
	padding-top: var(--ion-safe-area-top);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--page-background);
	border-radius: 0 0 var(--app-fair-radius) var(--app-fair-radius);
	height: calc(350px + var(--ion-safe-area-top));

	img {
		max-width: 450px;
		margin-top: calc(-1 * var(--ion-safe-area-top));
	}
}

.ion-group {
	margin-top: 15px;

	.phone-number {
		text-align: left !important;
	}

	ion-label {
		font-weight: 700;
		font-size: 15px;
	}

	ion-input {
		letter-spacing: 10px;
	}
}

.otp {
	--background: var(--ion-color-white);

	.item-interactive.ion-valid {
		--highlight-background: #3880ff;
	}

	.item-interactive {
		--highlight-background: #3880ff;
	}

	ion-grid {
		padding: 0%;
	}

	ion-item {
		--background: var(--ion-color-white);
	}

	ion-input {
		--padding-start: 7px;
		text-align: center !important;
		border: none;
		border: 1px solid #d7dae3;
		--background: var(--ion-color-light);
		border-radius: 10px;
	}
}