<ion-content>
	<div class="logo">
		<img src="./assets/img/logo.png" alt="Hindalco">
	</div>
	<div class="login-content">
		<div class="ion-group">
			<ion-label class="phone-number">OTP</ion-label>
			<ion-list class="inputs-list" lines="full">
				<span class=" otp input-items ion-no-margin ion-no-padding " lines="none">
					<ion-grid>
						<ion-row class="ion-no-margin ion-no-padding ion-align-items-center">
							<ion-col size="2" class="ion-no-margin" style="padding-left: 0%;">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp1" #Field1
									(keyup)="gotoNextField($event,Field2,Field1)"></ion-input>
							</ion-col>
							<ion-col size="2" class="ion-no-margin">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp2" #Field2
									(keyup)="gotoNextField($event,Field3,Field1)"></ion-input>
							</ion-col>
							<ion-col size="2" class="ion-no-margin">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp3" #Field3
									(keyup)="gotoNextField($event,Field4,Field2)"></ion-input>
							</ion-col>
							<ion-col size="2" class="ion-no-margin">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp4" #Field4
									(keyup)="gotoNextField($event,Field5,Field3)"></ion-input>
							</ion-col>
							<ion-col size="2" class="ion-no-margin">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp5" #Field5
									(keyup)="gotoNextField($event,Field6,Field4)"></ion-input>
							</ion-col>
							<ion-col size="2" class="ion-no-margin" style="padding-right: 0%;">
								<ion-input class="ion-text-center" type="tel" type="password" pattern="[0-9]*"
									inputmode="numeric" type="password" pattern="[0-9]*" inputmode="numeric"
									maxlength="1" placeholder="0" [(ngModel)]="otp6" #Field6
									(keyup)="gotoNextField($event,Field6,Field5)"></ion-input>
							</ion-col>
						</ion-row>
						<h6 class="ion-text-right">
							<a>Resend</a>
						</h6>
					</ion-grid>
				</span>
			</ion-list>
		</div>
		<ion-button class="btn" type="submit" expand="block"
			[disabled]="otp1=='' || otp2 == ''|| otp3 == ''||otp4 ==''|| otp5== ''|| otp6 ==''"
			(click)="verifyOtp()">Verify OTP</ion-button>
	</div>
</ion-content>