<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>Select Loading Type</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container">
		<ion-list class="inputs-list" lines="full" *ngIf="loading_types">
			<ion-item class="input-item">
				<ion-icon name="file-tray-stacked-outline" slot="start"></ion-icon>
				<ion-select label="Select Loading Types" label-placement="floating" [(ngModel)]="meta.loading_type_id">
					<ion-select-option *ngFor="let loading of loading_types" [value]="loading.loading_type_id">
						{{ loading.loading_type_name }}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-button class="btn" color="primary" type="submit" expand="block" (click)="updateloadingTypes()"
				[disabled]="meta.loading_type_id==''">Submit</ion-button>
		</ion-list>
		<ion-list class="inputs-list" lines="full" *ngIf="!loading_types">
			<ion-item>
				<ion-label>
					<h3>
						<ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
					</h3>
					<p>
						<ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
					</p>
					<p>
						<ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>