:host {
	--page-margin: var(--app-small-margin);
	--page-background: var(--ion-color-light);
}

ion-content {
	--background: var(--page-background);
}

ion-searchbar {
	--box-shadow: none;
	--background:var(--ion-color-secondary-contrast);
	margin: 0px;
}

.container {
	padding: var(--page-margin);
}

.work-orders {
    margin-bottom: 10px;
}

.date {
	font-size: 12px;
}

ion-card {
	padding: 0px;
	margin: 0px;
	box-shadow: none;
	border-radius: 10px;
}