<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<!-- <ion-buttons slot="end">
			<ion-button>
				<ion-icon name="funnel-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons> -->
		<ion-title>Trips</ion-title>
		<ion-avatar slot="end" class="header-logo">
			<img src="./assets/img/logo1.png" alt="Hindalco">
		</ion-avatar>
	</ion-toolbar>
	<ion-searchbar class="ion-no-padding ion-no-margin" show-clear-button="never" [(ngModel)]="meta.search"
		(keyup)="searchData($event)" (ionChange)="searchData($event)"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="container">
		<div *ngIf="trips">
			<ion-row class="work-orders" *ngFor="let trip of trips" (click)="viewTrip(trip)">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin" button>
						<ion-row>
							<ion-col size="6" class="ion-text-left">Trip No: <br><b>{{ trip.trip_no }}</b></ion-col>
							<ion-col size="6" class="ion-text-right">Wagon No: <br><b>{{ trip.wagon_no }}</b></ion-col>
							<ion-col size="12" class="ion-text-left">Customer <br><b>{{ trip.customer?.customer_name
									}}</b></ion-col>
							<ion-col size="8" class="ion-text-left">Transporter <br><b>{{
									trip.transporter?.transporter_name }}</b></ion-col>
							<ion-col size="4" class="ion-text-right" *ngIf="trip.status_flag==2">
								<ion-chip color="warning">
									<b>{{
										trip.status }}</b>
								</ion-chip>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
				[disabled]="meta.page==meta.last_page">
				<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Data.....">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
		<div *ngIf="!trips">
			<ion-row class="work-orders" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<div id="container" *ngIf="trips?.length==0">
			<img src="./assets/img/logo.png">
			<p>No data found.</p>
			<span>Please check back later !...</span>
		</div>
	</div>
</ion-content>