<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{trip?.trip_no}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="container" *ngIf="trip">
		<ion-segment [scrollable]="true" (ionChange)="checkSegment($event)">
			<ion-segment-button value="info" class="types" [class]="segment=='info'?'active':''" class="types">
				<b>Info</b>
			</ion-segment-button>
			<ion-segment-button [value]="trip_stage.stage_name" class="types"
				[class]="stage_name==trip_stage.stage_name?'active':''"
				(click)="getCompletedChecks(trip_stage.trip_stage_id)"
				*ngFor="let trip_stage of trip_stages; let i = index">
				<b>{{ trip_stage.stage_name }}</b>
			</ion-segment-button>
		</ion-segment>
		<div *ngIf="segment=='info'">
			<h6 class="label">Trip Details</h6>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin" button>
						<ion-row>
							<ion-col size="6" class="ion-text-left">Container No: <br><b>{{ trip?.container_no
									}}</b></ion-col>
							<ion-col size="6" class="ion-text-right">Wagon No: <br><b>{{ trip?.wagon_no }}</b></ion-col>
							<ion-col size="6" class="ion-text-left">Date: <br><b>{{
									convertDateTime(trip?.trip_date_time)
									}}</b></ion-col>
							<ion-col size="12" class="ion-text-left">Customer <br><b>{{ trip?.customer?.customer_name
									}}</b></ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<h6 class="label">Slip Details</h6>
			<ion-row class="info" *ngFor="let slip of trip?.slips">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">Slip No: <br> <b>{{ slip.slip_no }}</b>
							</ion-col>
							<ion-col size="6" class="ion-text-right">Product: <br> <strong>{{
									slip?.product?.product_name
									}}</strong>
							</ion-col>

							<ion-col size="6" class="ion-text-left">Packing: <br> <strong>{{
									slip?.packing?.packing_name
									}}</strong>
							</ion-col>
							<ion-col size="6" class="ion-text-right">loading Type: <br> <strong>{{
									slip?.loading_type?.loading_type_name
									}}</strong></ion-col>

							<ion-col size="6" class="ion-text-left">Pallet Size: <br>
								<strong>{{
									slip?.pallet_size?.pallet_size_name
									}}</strong>
							</ion-col>

							<ion-col size="6" class="ion-text-right">Desiccant: <br>
								<strong>{{
									slip?.desiccant?.desiccant
									}}</strong>
							</ion-col>
							<ion-col size="12" class="ion-text-left">Transporter: <br> <strong>{{
									trip.transporter?.transporter_name }}</strong>
							</ion-col>
						</ion-row>
						<div style="margin-top: 15px;">
							<div class="lot-label">Lot details</div>
							<ion-col size="12" class="ion-no-padding" *ngFor="let lot of slip.lots">
								<ion-card style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
									<ion-row>
										<ion-col size="3" class="ion-text-center">Location: <br>
											<strong>{{ lot.storage.storage_name
												}}</strong></ion-col>
										<ion-col size="3" class="ion-text-center">Lot No: <br> <strong>{{ lot.lot_no
												}}</strong></ion-col>
										<ion-col size="3" class="ion-text-center">Bags: <br> <strong>{{ lot.loading_bags
												}}</strong></ion-col>
										<ion-col size="3" class="ion-text-center">Tons: <br> <strong>{{
												lot.loading_quantity
												}}</strong></ion-col>
									</ion-row>
								</ion-card>
							</ion-col>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<ion-card class="card" *ngIf="segment!=='info' && trip_checks">
			<ion-item>
				<ion-text> {{ stage_name }} <br>
				</ion-text>
			</ion-item>
			<div class="grid_items" *ngIf="trip_attachments && trip_attachments?.length!=0">
				<div class="grid_item" *ngFor="let attachment of trip_attachments">
					<img [src]="attachment.attachment_path" alt="Hindalco" style="max-height: 150px;width: 100%;"
						*ngIf="attachment.attachment_type == 'image'">
					<video controls *ngIf="attachment.attachment_type == 'video'"
						style="max-height: 150px;width: 100%;">
						<source type="video/mp4" [src]="attachment.attachment_path">
					</video>
				</div>
			</div>
			<!-- <div class="grid_items" *ngIf="trip_check_attachments">
				<div *ngFor="let trip_check_attachment of trip_check_attachments[0]?.trip_attachments">
					<div class="grid_item">
						<img [src]="trip_check_attachment.attachment_path" alt="Hindalco"
							style="max-height: 150px;width: 100%"
							*ngIf="trip_check_attachment.attachment_type == 'image'">
					</div>
				</div>
			</div> -->
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col size="2">
							<div class="heading">
								Sl.<br> NO
							</div>
						</ion-col>
						<ion-col size="7">
							<div class="heading ion-text-center">
								Observations
							</div>
						</ion-col>
						<ion-col size="3">
							<div class="heading">
								Yes/No
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let trip_check of trip_checks">
						<ion-col size="2" class="ion-text-center">
							{{ trip_check.order }}
						</ion-col>
						<ion-col size="7" class="ion-text-left">
							<p>{{ trip_check.check_name }}</p>
						</ion-col>
						<ion-col class="ion-text-center ion-no-margin" size="3">
							<div *ngIf="trip_check.field_type=='text'">
								<ion-input readonly type="text" fill="solid" class="input"
									[(ngModel)]="trip_check.value">
								</ion-input>
							</div>
							<div *ngIf="trip_check.field_type=='number'">
								<ion-input readonly type="number" class="input" fill="solid"
									[(ngModel)]="trip_check.value"></ion-input>
							</div>
							<div *ngIf="trip_check.field_type=='radio'">
								<ion-radio-group [(ngModel)]="trip_check.value">
									<div *ngIf="trip_check">
										<ion-row>
											<ion-col class="ion-no-padding ion-text-center">
												<ion-radio disabled="true" style="margin-right: 8px;"
													[value]="value?.trim().toUpperCase()"
													*ngFor="let value of trip_check?.field_values?.split(',')">{{
													value?.trim().toUpperCase() }}</ion-radio>
											</ion-col>
										</ion-row>
									</div>
								</ion-radio-group>
							</div>
							<div *ngIf="trip_check.field_type=='select'">
								<div *ngIf="trip_check">
									<ion-select disabled="true" class="input" [(ngModel)]="trip_check.value">
										<ion-select-option *ngFor="let value of trip_check?.field_values?.split(',')"
											[value]="value?.trim().toUpperCase()">
											{{ value?.trim().toUpperCase() }}
										</ion-select-option>
									</ion-select>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>