<ion-header class="ion-no-border">
	<ion-toolbar color="primary">
		<ion-title>Create Lot</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="container">
	<div class="login-content">
		<ion-list class="inputs-list" lines="full">
			<ion-item class="input-item">
				<ion-icon name="file-tray-stacked-outline" slot="start"></ion-icon>
				<ion-label position="floating">Pallet Sizes</ion-label>
				<ion-select [(ngModel)]="meta.pallet_size_id">
					<div *ngIf="pallet_sizes">
						<ion-select-option *ngFor="let pallet_size of pallet_sizes"
							[value]="pallet_size.pallet_size_id">
							{{ pallet_size.pallet_size_name }}
						</ion-select-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="floating">Lot No</ion-label>
				<ion-input type="text" [(ngModel)]="meta.lot_no" (ionInput)="checkLotNo($event)"></ion-input>
			</ion-item>
			<div class="error-container" *ngIf="valid_lot_no == false && valid_lot_no_message!=''">
				<ng-container>
					<div class="error-message">
						<ion-icon name="information-circle-outline" color="danger"></ion-icon>
						<span style="color: red;">{{valid_lot_no_message}}</span>
					</div>
				</ng-container>
			</div>
			<ion-item class="input-item">
				<ion-icon name="information-circle-outline" slot="start"></ion-icon>
				<ion-label position="floating">No of Pallets</ion-label>
				<ion-input type="number" [(ngModel)]="meta.number_of_pallet"></ion-input>
			</ion-item>
			<ion-button class="btn" color="primary" expand="block"
				[disabled]="valid_lot_no_message !== '' || meta.pallet_size_id==null ||meta.pallet_size_id=='' || meta.lot_no ==null|| meta.lot_no ==''||meta.number_of_pallet == null || meta.number_of_pallet == ''"
				(click)="createLot()">Submit</ion-button>
		</ion-list>
	</div>
</ion-content>