:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--ion-color-light);
}

ion-toolbar {
	position: absolute;
	--background: transparent;
	--color: #000;
}

ion-content {
	--background: var(--page-background);
}

.login-content {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}

.inputs-list {
	margin: 0px;
	--ion-item-background: var(--page-background);

	.input-item {
		--background: var(--ion-color-primary-contrast);
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
		--border-radius: 5px 5px 0 0;

		ion-icon {
			margin: 15px 10px 5px 5px !important;
		}

		ion-button {
			margin: 15px 10px 0 0 !important;
		}
	}
}

.logo {
	position: relative;
	display: flex;
	padding-top: var(--ion-safe-area-top);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--page-background);
	border-radius: 0 0 var(--app-fair-radius) var(--app-fair-radius);
	height: calc(350px + var(--ion-safe-area-top));

	img {
		max-width: 350px;
		margin-top: calc(-1 * var(--ion-safe-area-top));
	}
}

.email {
	font-size: 14px;
	margin-top: 0px;
}

ion-input.custom {
	--border: none;
	--border-width: 0px;
}

.input-fill-solid.sc-ion-input-md-h {
	--background: var(--ion-color-step-50, #f2f2f2);
	--border-color: var(--ion-color-step-500, gray);
	--border-radius: 4px;
	--padding-start: 16px;
	--padding-end: 16px;
	min-height: 56px;
}

.register {
	padding-top: 5px;
	align-items: center;
	justify-content: space-evenly;

	.text {
		color: var(--ion-color-medium);
		font-size: 16px;
	}

	.register-btn {
		--color: var(--ion-color-primary);
		margin: 0px;
	}
}