<ion-content>
	<div class="logo">
		<img src="./assets/img/logo.png" alt="Hindalco">
	</div>
	<div class="login-content">
		<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
			<ion-list class="inputs-list" lines="full">
				<ion-item class="input-item">
					<ion-icon name="mail" slot="start"></ion-icon>
					<ion-input label="Username" label-placement="floating" type="text" formControlName="username"
						autocapitalize="off"></ion-input>
				</ion-item>
				<div class="error-container">
					<ng-container *ngFor="let validation of validations.username">
						<div class="error-message"
							*ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
				<div class="error-container" *ngIf="errors && errors.username">
					<ng-container>
						<div class="error-message">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ errors.username[0] }}</span>
						</div>
					</ng-container>
				</div>
				<ion-item class="input-item">
					<ion-icon name="key" slot="start"></ion-icon>
					<ion-input label="Password" label-placement="floating" formControlName="password"
						[type]="passwordType" type="password" clearOnEdit="false"></ion-input>
					<ion-icon item-end [name]="passwordIcon" slot="end" class="passwordIcon"
						(click)='hideShowPassword()'></ion-icon>
					<!-- <ion-button fill="clear" slot="end"> Forgot ?</ion-button> -->
				</ion-item>
				<div class="error-container">
					<ng-container *ngFor="let validation of validations.password">
						<div class="error-message"
							*ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
				<div class="error-container" *ngIf="errors && errors.password">
					<ng-container>
						<div class="error-message">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ errors.password[0] }}</span>
						</div>
					</ng-container>
				</div>
			</ion-list>
			<ion-button class="btn" type="submit" expand="block" [disabled]="!loginForm.valid">Login</ion-button>
		</form>
	</div>
</ion-content>