<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home">
			<ion-icon name="home"></ion-icon>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="trips">
			<ion-icon name="checkmark-outline"></ion-icon>
			<ion-label>Trips</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="inwards">
			<ion-icon name="list-outline"></ion-icon>
			<ion-label>Inwards</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="account">
			<ion-icon name="person"></ion-icon>
			<ion-label>Account</ion-label>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>