<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button default-href="/account">
			</ion-back-button>
			<ion-title class="ion-no-padding">Profile</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="container">
	<div class="login-content">
		<form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
			<ion-list class="inputs-list" lines="full">
				<ion-row class="profile-header ion-align-items-center">
					<ion-col size="12">
						<ion-avatar class="avatar ion-align-items-center">
							<img [src]="user?.avatar" alt="Hindalco" *ngIf="user?.avatar!=''">
						<img src="./assets/img/logo1.png" alt="Hindalco" *ngIf="user?.avatar==''">
						</ion-avatar>
					</ion-col>
					<ion-col size="12">
						<ion-button fill="clear" (click)="capturePhotos()">Edit</ion-button>
					</ion-col>
				</ion-row>
				<ion-item class="input-item">
					<ion-icon name="person-outline" slot="start"></ion-icon>
					<ion-input type="text" label="Name" label-placement="stacked" formControlName="name"></ion-input>
				</ion-item>
				<ion-item class="input-item">
					<ion-icon name="person-outline" slot="start"></ion-icon>
					<ion-input type="text" label="Username" label-placement="stacked" formControlName="username"></ion-input>
				</ion-item>
				<ion-item class="input-item">
					<ion-icon name="id-card-outline" slot="start"></ion-icon>
					<ion-input type="text" readonly label="Role" label-placement="stacked" formControlName="role"></ion-input>
				</ion-item>
				<ion-item class="input-item">
					<ion-icon name="mail-outline" slot="start"></ion-icon>
					<ion-input type="email" label="Email" label-placement="stacked" formControlName="email"></ion-input>
				</ion-item>
				<ion-item class="input-item">
					<ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
					<ion-input type="tel" label="Mobile Number" label-placement="stacked" formControlName="mobile_no"></ion-input>
				</ion-item>
				<ion-item class="input-item">
					<ion-icon name="location-outline" slot="start"></ion-icon>
					<ion-input type="tel" label="Address" label-placement="stacked" formControlName="address"></ion-input>
				</ion-item>
			</ion-list>
			<ion-button class="btn" type="submit" expand="block">Update</ion-button>
		</form>
	</div>
</ion-content>