:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--ion-color-light);
}

.login-content {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}

ion-content {
	--background: var(--page-background);
}

ion-col {
	padding: 0%;
	display: flex;
	justify-content: center;
	align-items: center;

	.avatar {
		height: 150px;
		width: 150px;
		object-fit: cover;
		margin-bottom: 0px;
	}
}

.inputs-list {
	margin: 0px;
	--ion-item-background: var(--page-background);
	margin-top: 25px;
	.input-item {
		--background: var(--ion-color-primary-contrast);
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
		--border-radius: 5px 5px 0 0;
		margin-bottom: 10px;

		ion-icon {
			margin: 15px 10px 5px 5px !important;
		}

		ion-button {
			margin: 15px 10px 0 0 !important;
		}
	}
}