<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button (click)="confirmSavedData()">
				<ion-icon name="arrow-back" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-title class="ion-no-padding">{{trip?.trip_no}}</ion-title>
		</ion-buttons>
		<ion-buttons slot="end">
			<!-- <ion-title class="ion-no-padding">Discard Trip</ion-title> -->
			<ion-button (click)="confirmDiscardTrip()">
				Action
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<ion-segment [scrollable]="true" [(ngModel)]="segment" (ionChange)="checkSegment($event)">
			<ion-segment-button *ngIf="trip_stages" value="info" [class]="segment=='info'?'active':''" class="types">
				<b>Info</b>
			</ion-segment-button>
			<ion-segment-button [value]="trip_stage.stage_name" [class]="stage_name==trip_stage.stage_name?'active':''"
				class="types" *ngFor="let trip_stage of trip_stages; let i = index"
				(click)="getPendingTripChecks(trip_stage, i)">
				<b>{{ trip_stage.stage_name }}</b>
			</ion-segment-button>
		</ion-segment>
		<div *ngIf="segment=='info'">
			<h6 class="label">Trip Details</h6>
			<ion-row class="info" *ngIf="trip">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">Trip No: <br> <b>{{ trip.trip_no }}</b></ion-col>
							<ion-col size="6" class="ion-text-right">Plant: <br> <strong>{{ trip.plant.plant_name
									}}</strong></ion-col>
							<ion-col size="6" class="ion-text-left">Wagon No: <br> <strong>{{
									trip.wagon_no}}</strong></ion-col>
							<ion-col size="6" class="ion-text-right">Trip Date: <br>
								<strong>{{convertDate(trip.trip_date_time)}}</strong></ion-col>
							<ion-col size="12" class="ion-text-left">Customer: <br> <strong>{{
									trip.customer?.customer_name }}</strong></ion-col>
							<ion-col size="12" class="ion-text-left">Transporter: <br> <strong>{{
									trip.transporter.transporter_name }}</strong></ion-col>
							<ion-col size="12" class="ion-text-left" *ngIf="loading_types">
								<strong>Loading Types: </strong>
								<ion-item>
									<ion-select label="Select" label-placement="floating"
										(ionChange)="selectLoadingType($event)">
										<ion-select-option *ngFor="let loading_type of loading_types"
											[value]="loading_type.loading_type_id">{{ loading_type.loading_type_name
											}}</ion-select-option>
									</ion-select>
								</ion-item>
							</ion-col>
							<ion-col size="12" class="ion-text-left"> <strong>Container No: </strong>
								<ion-input type="text" fill="outline" autocapitalize="on" maxlength="11" minlength="11"
									(ionInput)="checkContainerNo($event, trip)" placeholder="Add Container No..."
									[(ngModel)]="trip.container_no"
									*ngIf="show_container_no == true && show_container_no">
								</ion-input>
								<ion-input type="text" fill="outline" readonly [(ngModel)]="trip.container_no"
									*ngIf="show_container_no !== true">
								</ion-input>
							</ion-col>
							<ion-col size="12">
								<div class="error-container"
									*ngIf="valid_container_no == false && valid_container_no_message!=''">
									<ng-container>
										<div class="error-message">
											<ion-icon name="information-circle-outline" color="danger"></ion-icon>
											<span style="color: red;">{{valid_container_no_message}}</span>
										</div>
									</ng-container>
								</div>
								<div *ngIf="show_container_no == true && show_container_no">
									<ion-button class="btn" color="success" expand="block"
										[disabled]="trip.container_no == null || trip.container_no == '' || trip.container_no.length < 11 || trip.container_no.length > 11"
										(click)="updateTrip(trip)">Update Container
										No</ion-button>
								</div>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<h6 class="label">Slip Details</h6>
			<ion-row class="info" *ngFor="let slip of slips">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">Slip No: <br> <b>{{ slip.slip_no }}</b>
							</ion-col>
							<ion-col size="6" class="ion-text-right" (click)="createLot(slip)"><strong><a>Add New
										Lot</a></strong>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Slip issue date: <br> <strong>{{ slip.slip_date_time
									}}</strong>
							</ion-col>
							<ion-col size="6" class="ion-text-right">WorkOrder No: <br><b>{{ slip.work_order_no
									}}</b>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Destination: <br>
								<strong>{{ trip.destination
									}}</strong>
							</ion-col>
							<ion-col size="6" class="ion-text-right">Wagon No: <br> <strong>{{ trip.wagon_no
									}}</strong>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Product: <br> <strong>{{ slip?.product?.product_name
									}}</strong>
							</ion-col>

							<ion-col size="12" class="ion-text-left">Customer: <br> <strong>{{
									trip.customer?.customer_name
									}}</strong>
							</ion-col>
							<ion-col size="12" class="ion-text-left">Transporter: <br> <strong>{{
									trip.transporter?.transporter_name }}</strong>
							</ion-col>
							<ion-col size="10" class="ion-text-left">Packing: <br> <strong>{{
									slip?.packing?.packing_name
									}}</strong>
							</ion-col>
							<ion-col size="2" style="display: flex; justify-content: center;align-items: center;"
								class="ion-text-center">
								<ion-icon name="pencil" (click)="editPacking(slip)"></ion-icon>
							</ion-col>
							<ion-col size="10" class="ion-text-left">loading Type: <br> <strong>{{
									slip?.loading_type?.loading_type_name
									}}</strong></ion-col>
							<ion-col size="2" style="display: flex; justify-content: center;align-items: center;"
								class="ion-text-center" (click)="editLoadingType(slip)">
								<ion-icon name="pencil"></ion-icon>
							</ion-col>
							<ion-col size="10" class="ion-text-left">Pallet Size: <br>
								<strong>{{
									slip?.pallet_size?.pallet_size_name
									}}</strong>
							</ion-col>
							<ion-col size="2" style="display: flex; justify-content: center;align-items: center;"
								class="ion-text-center" (click)="editPallet(slip)">
								<ion-icon name="pencil"></ion-icon>
							</ion-col>
							<ion-col size="10" class="ion-text-left">Desiccant: <br>
								<strong>{{
									slip?.desiccant?.desiccant
									}}</strong>
							</ion-col>
							<ion-col size="2" style="display: flex; justify-content: center;align-items: center;"
								class="ion-text-center" (click)="editDessicant(slip)">
								<ion-icon name="pencil"></ion-icon>
							</ion-col>
						</ion-row>
						<div class="lot-label">Lot details</div>
						<ion-col size="12" class="ion-no-padding" *ngFor="let lot of slip.lots">
							<ion-card style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
								<ion-row>
									<ion-col size="3" class="ion-text-left">Location: <br>
										<strong>{{ lot.storage.storage_name
											}}</strong></ion-col>
									<ion-col size="3" class="ion-text-left">Lot No: <br> <strong>{{ lot.lot_no
											}}</strong></ion-col>
									<ion-col size="3" class="ion-text-left">Bags: <br> <strong>{{ lot.loading_bags
											}}</strong></ion-col>
									<ion-col size="2" class="ion-text-left">Tons: <br> <strong>{{ lot.loading_quantity
											}}</strong></ion-col>
									<ion-col size="1" class="ion-text-center">
										<ion-icon name="ellipsis-vertical-outline"
											(click)="selectLotOption(lot)"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-card>
						</ion-col>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<ion-card class="card" *ngIf="segment!=='info' && trip_checks">
			<ion-item>
				<ion-text> {{ trip_checks[0]?.stage?.stage_name }} <br>
				</ion-text>
				<ion-fab-button slot="end" size="small" color="light" class="camera" (click)="selectMedia(trip_checks)">
					<ion-icon name="camera-outline"></ion-icon>
				</ion-fab-button>
			</ion-item>
			<!-- Images clicked/choosen StageWise and Checkwise combined-->
			<div class="grid_items" *ngIf="trip_checks.trip_attachments && trip_checks.trip_attachments.length!=0">
				<div class="grid_item" *ngFor="let attachment of trip_checks.trip_attachments">
					<div (click)="deleteAttachment(trip_checks, attachment.attachment_id)"><ion-icon color="danger"
							size="large" name="close-circle-outline" style="float: right;"></ion-icon></div>
					<img [src]="attachment.attachment" alt="Hindalco" style="max-height: 150px;width: 100%"
						*ngIf="attachment.type == 'image'">
					<video controls *ngIf="attachment.type == 'video'" style="max-height: 150px;width: 100%">
						<source type="video/mp4" [src]="attachment.attachment">
					</video>
				</div>
			</div>
			<!--StageWise attachments from api-->
			<div class="grid_items" *ngIf="trip_attachments && trip_attachments?.length!=0">
				<div class="grid_item" *ngFor="let attachment of trip_attachments">
					<img [src]="attachment.attachment_path" alt="Hindalco" style="max-height: 150px;width: 100%;"
						*ngIf="attachment.attachment_type == 'image'">
					<video controls *ngIf="attachment.attachment_type == 'video'"
						style="max-height: 150px;width: 100%;">
						<source type="video/mp4" [src]="attachment.attachment_path">
					</video>
				</div>
			</div>
			<!--Checkwise attachments from api-->
			<!-- <div class="grid_items" *ngIf="trip_checks">
				<div *ngFor="let trip_check of trip_checks">
					<div *ngIf="trip_check.trip_attachments.length!=0">
						<div class="grid_item" *ngFor="let attachment of trip_check.trip_attachments">
							<img [src]="attachment.attachment_path" alt="Hindalco" style="max-height: 150px;width: 100%"
								*ngIf="attachment.attachment_type == 'image'">
						</div>
					</div>
				</div>
			</div> -->
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col size="2">
							<div class="heading">
								Sl.<br> NO
							</div>
						</ion-col>
						<ion-col size="7">
							<div class="heading ion-text-center">
								Observations
							</div>
						</ion-col>
						<ion-col size="3">
							<div class="heading">
								Yes/No
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let trip_check of trip_checks">
						<ion-col size="2" class="ion-text-center">
							{{ trip_check.order }}
						</ion-col>
						<ion-col size="7" class="ion-text-left">
							<p>{{ trip_check.check_name }}</p>
						</ion-col>
						<ion-col class="ion-text-center ion-no-margin" size="3">
							<div *ngIf="trip_check.field_type=='text'">
								<ion-input type="text" fill="solid" class="input" [(ngModel)]="trip_check.value">
								</ion-input>
							</div>
							<div *ngIf="trip_check.field_type=='number'">
								<ion-input type="number" class="input" fill="solid" [class.red]="checkColor(trip_check)"
									[(ngModel)]="trip_check.value"></ion-input>
							</div>
							<div *ngIf="trip_check.field_type=='radio'">
								<ion-radio-group [(ngModel)]="trip_check.value"
									(ionChange)="handleChange($event, trip_check, trip_checks)">
									<div *ngIf="trip_check">
										<ion-row>
											<ion-col class="ion-no-padding ion-text-center">
												<ion-radio style="margin-right: 8px;"
													[value]="value?.trim().toUpperCase()"
													*ngFor="let value of trip_check?.field_values?.split(',')">{{
													value?.trim().toUpperCase() }}</ion-radio>
											</ion-col>
										</ion-row>
									</div>
								</ion-radio-group>
							</div>
							<div *ngIf="trip_check.field_type=='select'">
								<div *ngIf="trip_check">
									<ion-select class="input" [(ngModel)]="trip_check.value"
										(ionChange)="handleChange($event, trip_check, trip_checks)">
										<ion-select-option *ngFor="let value of trip_check?.field_values?.split(',')"
											[value]="value?.trim().toUpperCase()">
											{{ value?.trim().toUpperCase() }}
										</ion-select-option>
									</ion-select>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let trip_stage of trip_stages">
						<ion-col size="12" *ngIf="trip_stage?.stage_id == trip_checks[0]?.stage?.stage_id">
							<ion-textarea type="text" class="input" placeholder="Additional comments..." fill="solid"
								[(ngModel)]="trip_stage.note"></ion-textarea>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="current_index!=trip_stages?.length-1">
						<ion-col class="submit" size="12">
							<ion-button class="btn" color="primary" expand="block"
								(click)="confirmDraftStage(trip_checks, trip_stages,1)">Draft</ion-button>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="current_index!=trip_stages?.length-1">
						<ion-col class="submit" size="12">
							<ion-button class="btn" color="success" expand="block"
								(click)="confirmSubmitChecks(trip_checks, trip_stages,1)"
								[disabled]="trip_check_attachments?.length==0 && trip_checks.trip_attachments==undefined || trip_checks?.trip_attachments?.length==0">Continue</ion-button>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="current_index==trip_stages?.length-1">
						<ion-col class="submit" size="12">
							<ion-button class="btn" color="success" expand="block"
								(click)="confirmSubmitTrip(trip_checks, trip_stages,0)"
								[disabled]="trip_check_attachments?.length==0 && trip_checks.trip_attachments==undefined || trip_checks?.trip_attachments?.length==0">Submit
								Trip</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>