:host {
	--page-margin: var(--app-small-margin);
	--page-background: var(--ion-color-light);
}

ion-content {
	--background: var(--page-background);
}

.container {
	padding: var(--page-margin);
}

ion-card {
	padding: 0%;
	margin: 0%;
	border-radius: 10px;
	margin-bottom: 10px;

	ion-card-content {
		padding: 0%;
		margin: 0%;
	}
}

ion-input {
	--padding-top: 0px;
	--padding-bottom: 0px;
}

ion-segment {
	margin-bottom: 15px;
}

ion-segment-button {
	--color-checked: var(--ion-color-light)
}

.submit {
	padding: 5px;
	margin-top: 5px;
}

.label {
	font-family: 'system-ui';
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #3E3E3E;
	margin-top: 10px;
}

.types {
	height: 48px;
	background-color: #ffffff;
	color: #001efe;
	// margin-right: 10px;
	border-radius: 4px;
	--box-shadow: 0px 4px 32px rgba(70, 96, 135, 0.1);

	&.active {
		background: #001efe;
		color: #ffffff;
	}
}

.videoInsert {
	min-width: 20%;
	min-height: 20%;
	display: grid;

	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	overflow: hidden;
}

.lot-label {
	font-family: 'system-ui';
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #3E3E3E;
	margin: 10px;
}

.heading {
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.work-orders {
	margin-top: 10px;
}

ion-segment {
	--background: var(--ion-color-primary-contrast);
	border-radius: 10px;
}

ion-card {
	padding: 5px;
	box-shadow: none;
	border-radius: 10px;
}

.camera {
	box-shadow: none;
}

.input-fill-solid.sc-ion-input-md-h {
	--background: var(--ion-color-step-50, #f2f2f2);
	--border-color: var(--ion-color-step-500, gray);
	--border-radius: 4px;
	--padding-start: 0px;
	--padding-end: 0px;
	min-height: 40px;
}

.input-item {
	--background: var(--ion-color-medium-light);
	// border: 1px solid gray;
	// text-align: left;
	margin: 10px;
	height: 40px;
	align-items: center;
	display: flex;
	padding: 0px;
	padding-bottom: 0px;
}

.input {
	--background: var(--ion-color-medium-light);
	border: 1px solid gray;
}

.lots {
	background-color: var(--page-background);
}

ion-radio::part(label) {
	margin-right: 10px;
	font-size: 15px;
}

.red {
	--background: var(--ion-color-medium-light);
	border: 1px solid red;
}

ion-text {
	padding: 0px;
	font-size: 20px;
	font-weight: bold;

	span {
		font-size: 16px;
		font-weight: normal;
	}
}

ion-select {
	padding: 0px;
}

ion-thumbnail {
	--size: 90px;
}

.images {
	margin: 3px;
}

ion-footer {
	padding-top: 0px;
	padding-bottom: 0px;
}

.grid_items {
	padding: 3.75%;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 0;
	grid-row-gap: 20px;
}


@media only screen and (min-width: 300px) {
	.grid_items {
		grid-template-columns: 30% 30% 30%;
		grid-row-gap: 1px;
	}

	.grid_items>div {
		padding: 5px;
	}
}