<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/tabs/inwards">
				<ion-icon name="arrow-back" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-title class="ion-no-padding">{{ inspection?.receipt_no }}</ion-title>
		</ion-buttons>
		<!-- <ion-buttons slot="end">
			<ion-button>
				Discard Trip
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<ion-segment [scrollable]="true" [(ngModel)]="segment" (ionChange)="checkSegment($event)">
			<ion-segment-button *ngIf="inspection_stages" value="info" [class]="segment=='info'?'active':''"
				class="types">
				<b>Info</b>
			</ion-segment-button>
			<ion-segment-button [value]="inspection_stage.stage_name"
				[class]="stage_name==inspection_stage.stage_name?'active':''" class="types"
				*ngFor="let inspection_stage of inspection_stages; let i = index"
				(click)="getPendingInspectionChecks(inspection_stage, i)">
				<b>{{ inspection_stage.stage_name }}</b>
			</ion-segment-button>
		</ion-segment>
		<div *ngIf="segment=='info'">
			<h6 class="label">Receipt Details</h6>
			<ion-row class="info" *ngIf="inspection">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">Receipt No: <br> <b>{{
									inspection?.receipt_no }}</b>
							</ion-col>
							<ion-col size="6" class="ion-text-right"
								(click)="addInspectionLot(inspection)"><strong><a>Add New
										Lot</a></strong>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Receipt Date: <br> <strong>{{
									convertDate(inspection.created_at)
									}}</strong>
							</ion-col>
							<ion-col size="6" class="ion-text-right">Wagon No: <br><b> {{ inspection?.wagon_no }}
								</b>
							</ion-col>
							<ion-col size="12" class="ion-text-left">Supplier: <br><b> {{
									inspection?.supplier?.supplier_name }}
								</b>
							</ion-col>
						</ion-row>
						<div class="lot-label">Lot details</div>
						<ion-col size="12" class="ion-no-padding"
							*ngFor="let inspection_lot of inspection.inspection_lots">
							<ion-card style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
								<ion-row>
									<ion-col size="3" class="ion-text-left">Lot No: <br>
										<strong>{{ inspection_lot.lot_no }}</strong></ion-col>
									<ion-col size="5" class="ion-text-left">Pallet Size: <br> <strong>{{
											inspection_lot.pallet_size?.pallet_size_name
											}}</strong></ion-col>
									<ion-col size="3" class="ion-text-left">No of Pallets: <br> <strong>{{
											inspection_lot.number_of_pallet
											}}</strong></ion-col>
									<ion-col size="1" class="ion-text-center">
										<ion-icon name="ellipsis-vertical-outline"
											(click)="selectLotOption(inspection_lot)"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-card>
						</ion-col>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<ion-card class="card" *ngIf="segment!=='info' && inspection_checks && inspection.status!='Completed'">
			<ion-item>
				<ion-text> {{ inspection_checks[0]?.stage?.stage_name }} <br>
				</ion-text>
				<ion-fab-button slot="end" size="small" color="light" class="camera"
					(click)="selectMedia(inspection_checks)">
					<ion-icon name="camera-outline"></ion-icon>
				</ion-fab-button>
			</ion-item>
			<!-- Images clicked/choosen StageWise and Checkwise combined-->
			<div class="grid_items"
				*ngIf="inspection_checks.inspection_attachments && inspection_checks.inspection_attachments.length!=0">
				<div class="grid_item" *ngFor="let attachment of inspection_checks.inspection_attachments">
					<div (click)="deleteAttachment(inspection_checks, attachment.attachment_id)"><ion-icon
							color="danger" size="large" name="close-circle-outline" style="float: right;"></ion-icon>
					</div>
					<img [src]="attachment.attachment" alt="Hindalco" style="max-height: 150px;width: 100%"
						*ngIf="attachment.type == 'image'">
					<video controls *ngIf="attachment.type == 'video'" style="max-height: 150px;width: 100%">
						<source type="video/mp4" [src]="attachment.attachment">
					</video>
				</div>
			</div>
			<!--StageWise attachments from api-->
			<div class="grid_items" *ngIf="inspection && inspection_checks?.inspection_attachments?.length!=0">
				<div class="grid_item" *ngFor="let attachment of inspection_attachments">
					<img [src]="attachment.inspection_attachment_path" alt="Hindalco"
						style="max-height: 150px;width: 100%;" *ngIf="attachment.inspection_attachment_type == 'image'">
					<video controls *ngIf="attachment.inspection_attachment_type == 'video'"
						style="max-height: 150px;width: 100%;">
						<source type="video/mp4" [src]="attachment.inspection_attachment_path">
					</video>
				</div>
			</div>
			<!--Checkwise attachments from api-->
			<div class="grid_items" *ngIf="inspection_checks">
				<div *ngFor="let inspection of inspection_checks">
					<div *ngIf="inspection.inspection_attachments?.length!=0">
						<div class="grid_item" *ngFor="let attachment of inspection.inspection_attachments">
							<img [src]="attachment.inspection_attachment_path" alt="Hindalco"
								style="max-height: 150px;width: 100%"
								*ngIf="attachment.inspection_attachment_type == 'image'">
						</div>
					</div>
				</div>
			</div>
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col size="2">
							<div class="heading">
								Sl.<br> NO
							</div>
						</ion-col>
						<ion-col size="7">
							<div class="heading ion-text-center">
								Observations
							</div>
						</ion-col>
						<ion-col size="3">
							<div class="heading">
								Yes/No
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let inspection_check of inspection_checks">
						<ion-col size="2" class="ion-text-center">
							{{ inspection_check.order }}
						</ion-col>
						<ion-col size="7" class="ion-text-left">
							<p>{{ inspection_check.check_name }}</p>
						</ion-col>
						<ion-col class="ion-text-center ion-no-margin" size="3">
							<div *ngIf="inspection_check.field_type=='text'">
								<ion-input type="text" fill="solid" class="input" [(ngModel)]="inspection_check.value">
								</ion-input>
							</div>
							<div *ngIf="inspection_check.field_type=='number'">
								<ion-input type="number" class="input" fill="solid"
									[class.red]="checkColor(inspection_check)"
									[(ngModel)]="inspection_check.value"></ion-input>
							</div>
							<div *ngIf="inspection_check.field_type=='radio'">
								<ion-radio-group [(ngModel)]="inspection_check.value"
									(ionChange)="handleChange($event, inspection_check, inspection_checks)">
									<div *ngIf="inspection_check">
										<ion-row>
											<ion-col class="ion-no-padding ion-text-center">
												<ion-radio style="margin-right: 8px;"
													[value]="value?.trim().toUpperCase()"
													*ngFor="let value of inspection_check?.field_values?.split(',')">{{
													value?.trim().toUpperCase() }}</ion-radio>
											</ion-col>
										</ion-row>
									</div>
								</ion-radio-group>
							</div>
							<div *ngIf="inspection_check.field_type=='select'">
								<div *ngIf="inspection_check">
									<ion-select class="input" [(ngModel)]="inspection_check.value"
										(ionChange)="handleChange($event, inspection_check, inspection_checks)">
										<ion-select-option
											*ngFor="let value of inspection_check?.field_values?.split(',')"
											[value]="value?.trim().toUpperCase()">
											{{ value?.trim().toUpperCase() }}
										</ion-select-option>
									</ion-select>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<ion-row>
								<ion-col size="5">
									<div class="heading">
										Pallet Size
									</div>
								</ion-col>
								<ion-col size="5">
									<div class="heading ion-text-center">
										Moisture
									</div>
								</ion-col>
								<ion-col size="2">
									<div class="heading ion-text-center">
										Weight of 10 pallets
									</div>
								</ion-col>
							</ion-row>
							<ion-row *ngFor="let inspection_lot of inspection?.inspection_lots">
								<ion-col size="5" class="ion-text-left">
									{{inspection_lot?.pallet_size?.pallet_size_name}}
								</ion-col>
								<ion-col size="5">
									<div class="ion-text-left">
										<ion-input type="tel" class="input" fill="solid"
											[(ngModel)]="inspection_lot.pallet_size_parameter.moisture"
											*ngIf="inspection_lot.pallet_size_parameter!==null"></ion-input>
										<ion-input type="tel" class="input" fill="solid"
											[(ngModel)]="inspection_lot.moisture"
											*ngIf="inspection_lot.pallet_size_parameter==null"></ion-input>
									</div>
								</ion-col>
								<ion-col size="2">
									<div class="ion-text-center">
										<ion-input type="number" class="input" fill="solid"
											[(ngModel)]="inspection_lot.pallet_size_parameter.weight"
											*ngIf="inspection_lot.pallet_size_parameter!=null"></ion-input>
										<ion-input type="number" class="input" fill="solid"
											[(ngModel)]="inspection_lot.weight"
											*ngIf="inspection_lot.pallet_size_parameter==null"></ion-input>
									</div>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>
					<ion-row *ngFor="let inspection_stage of inspection_stages">
						<ion-col size="12" *ngIf="inspection_stage?.stage_id == inspection_checks[0]?.stage?.stage_id">
							<ion-textarea type="text" class="input" placeholder="Additional comments..." fill="solid"
								[(ngModel)]="inspection_stage.note"></ion-textarea>
						</ion-col>
					</ion-row>
					<!-- <div *ngIf="check()"></div> -->
					<ion-row>
						<ion-col class="submit" size="12">
							<ion-button class="btn" color="success" expand="block"
								(click)="confirmSubmitInspection(inspection_checks, inspection_stages,0)"
								[disabled]="inspection_check_attachments?.length==0 && inspection_checks.inspection_attachments==undefined || inspection_checks?.inspection_attachments?.length==0">Submit</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
		<ion-card class="card" *ngIf="segment!=='info' && inspection_checks && inspection.status=='Completed'">
			<ion-item>
				<ion-text> {{ inspection_checks[0]?.stage?.stage_name }} <br>
				</ion-text>
				<ion-fab-button slot="end" size="small" color="light" class="camera"
					(click)="selectMedia(inspection_checks)">
					<ion-icon name="camera-outline"></ion-icon>
				</ion-fab-button>
			</ion-item>
			<!-- Images clicked/choosen StageWise and Checkwise combined-->
			<div class="grid_items"
				*ngIf="inspection_checks.inspection_attachments && inspection_checks.inspection_attachments.length!=0">
				<div class="grid_item" *ngFor="let attachment of inspection_checks.inspection_attachments">
					<div (click)="deleteAttachment(inspection_checks, attachment.attachment_id)"><ion-icon
							color="danger" size="large" name="close-circle-outline" style="float: right;"></ion-icon>
					</div>
					<img [src]="attachment.attachment" alt="Hindalco" style="max-height: 150px;width: 100%"
						*ngIf="attachment.type == 'image'">
					<video controls *ngIf="attachment.type == 'video'" style="max-height: 150px;width: 100%">
						<source type="video/mp4" [src]="attachment.attachment">
					</video>
				</div>
			</div>
			<!--StageWise attachments from api-->
			<div class="grid_items" *ngIf="inspection && inspection_checks?.inspection_attachments?.length!=0">
				<div class="grid_item" *ngFor="let attachment of inspection_attachments">
					<img [src]="attachment.inspection_attachment_path" alt="Hindalco"
						style="max-height: 150px;width: 100%;" *ngIf="attachment.inspection_attachment_type == 'image'">
					<video controls *ngIf="attachment.inspection_attachment_type == 'video'"
						style="max-height: 150px;width: 100%;">
						<source type="video/mp4" [src]="attachment.inspection_attachment_path">
					</video>
				</div>
			</div>
			<!--Checkwise attachments from api-->
			<div class="grid_items" *ngIf="inspection_checks">
				<div *ngFor="let inspection of inspection_checks">
					<div *ngIf="inspection.inspection_attachments?.length!=0">
						<div class="grid_item" *ngFor="let attachment of inspection.inspection_attachments">
							<img [src]="attachment.inspection_attachment_path" alt="Hindalco"
								style="max-height: 150px;width: 100%"
								*ngIf="attachment.inspection_attachment_type == 'image'">
						</div>
					</div>
				</div>
			</div>
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col size="2">
							<div class="heading">
								Sl.<br> NO
							</div>
						</ion-col>
						<ion-col size="7">
							<div class="heading ion-text-center">
								Observations
							</div>
						</ion-col>
						<ion-col size="3">
							<div class="heading">
								Yes/No
							</div>
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let inspection_check of inspection_checks">
						<ion-col size="2" class="ion-text-center">
							{{ inspection_check.order }}
						</ion-col>
						<ion-col size="7" class="ion-text-left">
							<p>{{ inspection_check.check_name }}</p>
						</ion-col>
						<ion-col class="ion-text-center ion-no-margin" size="3">
							<div *ngIf="inspection_check.field_type=='text'">
								<ion-input readonly type="text" fill="solid" class="input"
									[(ngModel)]="inspection_check.value">
								</ion-input>
							</div>
							<div *ngIf="inspection_check.field_type=='number'">
								<ion-input readonly type="number" class="input" fill="solid"
									[class.red]="checkColor(inspection_check)"
									[(ngModel)]="inspection_check.value"></ion-input>
							</div>
							<div *ngIf="inspection_check.field_type=='radio'">
								<ion-radio-group [(ngModel)]="inspection_check.value">
									<div *ngIf="inspection_check">
										<ion-row>
											<ion-col class="ion-no-padding ion-text-center">
												<ion-radio style="margin-right: 8px;" disabled="true"
													[value]="value?.trim().toUpperCase()"
													*ngFor="let value of inspection_check?.field_values?.split(',')">{{
													value?.trim().toUpperCase() }}</ion-radio>
											</ion-col>
										</ion-row>
									</div>
								</ion-radio-group>
							</div>
							<div *ngIf="inspection_check.field_type=='select'">
								<div *ngIf="inspection_check">
									<ion-select class="input" [(ngModel)]="inspection_check.value" disabled="true">
										<ion-select-option
											*ngFor="let value of inspection_check?.field_values?.split(',')"
											[value]="value?.trim().toUpperCase()">
											{{ value?.trim().toUpperCase() }}
										</ion-select-option>
									</ion-select>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col size="12">
							<ion-row>
								<ion-col size="5">
									<div class="heading">
										Pallet Size
									</div>
								</ion-col>

								<ion-col size="5">
									<div class="heading ion-text-center">
										Moisture
									</div>
								</ion-col>
								<ion-col size="2">
									<div class="heading ion-text-center">
										Weight of 10 pallets
									</div>
								</ion-col>
							</ion-row>
							<ion-row *ngFor="let inspection_lot of inspection?.inspection_lots">
								<ion-col size="5" class="ion-text-left">
									{{inspection_lot?.pallet_size?.pallet_size_name}}
								</ion-col>
								<ion-col size="5">
									<div class="ion-text-left">
										<ion-input disabled="true" type="tel" class="input" fill="solid"
											[(ngModel)]="inspection_lot.pallet_size_parameter.moisture"
											*ngIf="inspection_lot.pallet_size_parameter!==null"></ion-input>
										<ion-input disabled="true" type="tel" class="input" fill="solid"
											[(ngModel)]="inspection_lot.moisture"
											*ngIf="inspection_lot.pallet_size_parameter==null"></ion-input>
									</div>
								</ion-col>
								<ion-col size="2">
									<div class="ion-text-center">
										<ion-input disabled="true" type="number" class="input" fill="solid"
											[(ngModel)]="inspection_lot.pallet_size_parameter.weight"
											*ngIf="inspection_lot.pallet_size_parameter!=null"></ion-input>
										<ion-input disabled="true" type="number" class="input" fill="solid"
											[(ngModel)]="inspection_lot.weight"
											*ngIf="inspection_lot.pallet_size_parameter==null"></ion-input>
									</div>
								</ion-col>

							</ion-row>
						</ion-col>

					</ion-row>
					<ion-row *ngFor="let inspection_stage of inspection_stages">
						<ion-col size="12" *ngIf="inspection_stage?.stage_id == inspection_checks[0]?.stage?.stage_id">
							<ion-textarea type="text" class="input" readonly fill="solid"
								[(ngModel)]="inspection_stage.note"></ion-textarea>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>