:host {
	--page-margin: var(--app-broad-margin);
	--page-background: var(--ion-color-light);
}

.login-content {
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);
}
ion-content {
	--background: var(--page-background);
}
.inputs-list {
	margin: 0px;
	--ion-item-background: var(--page-background);

	.input-item {
		--background: var(--ion-color-primary-contrast);
		--padding-start: 0px;
		--padding-end: 0px;
		--inner-padding-end: 0px;
		--border-radius: 5px 5px 0 0;

		ion-icon {
			margin: 15px 10px 5px 5px !important;
		}

		ion-button {
			margin: 15px 10px 0 0 !important;
		}
	}
}