<ion-header class="ion-no-border">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button default-href="tabs/account">
			</ion-back-button>
			<ion-title class="ion-no-padding">Change Password</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="container">
	<div class="login-content">
		<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
			<ion-list class="inputs-list" lines="full">
				<ion-item class="input-item">
					<ion-icon name="key-outline" slot="start"></ion-icon>
					<ion-input type="password" label="Current Password" label-placement="floating"
						formControlName="current_password"></ion-input>
				</ion-item>
				<div class="error-container">
					<ng-container *ngFor="let validation of validations.current_password">
						<div class="error-message"
							*ngIf="passwordForm.get('current_password').hasError(validation.type) && (passwordForm.get('current_password').dirty || passwordForm.get('current_password').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
				<div class="error-container" *ngIf="errors && errors.current_password">
					<ng-container>
						<div class="error-message">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ errors.current_password[0] }}</span>
						</div>
					</ng-container>
				</div>
				<ion-item class="input-item">
					<ion-icon name="key-outline" slot="start"></ion-icon>
					<ion-input type="password" label="New Password" label-placement="floating"
						formControlName="new_password"></ion-input>
				</ion-item>
				<div class="error-container">
					<ng-container *ngFor="let validation of validations.new_password">
						<div class="error-message"
							*ngIf="passwordForm.get('new_password').hasError(validation.type) && (passwordForm.get('new_password').dirty || passwordForm.get('new_password').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
				<div class="error-container" *ngIf="errors && errors.new_password">
					<ng-container>
						<div class="error-message">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ errors.new_password[0] }}</span>
						</div>
					</ng-container>
				</div>
				<ion-item class="input-item">
					<ion-icon name="key-outline" slot="start"></ion-icon>
					<ion-input type="password" label="Confirm Password" label-placement="floating"
						formControlName="confirm_password"></ion-input>
				</ion-item>
				<div class="error-container">
					<ng-container *ngFor="let validation of validations.confirm_password">
						<div class="error-message"
							*ngIf="passwordForm.get('confirm_password').hasError(validation.type) && (passwordForm.get('confirm_password').dirty || passwordForm.get('confirm_password').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ validation.message }}</span>
						</div>
					</ng-container>
				</div>
				<div class="error-container" *ngIf="errors && errors.confirm_password">
					<ng-container>
						<div class="error-message">
							<ion-icon name="information-circle-outline"></ion-icon>
							<span>{{ errors.confirm_password[0] }}</span>
						</div>
					</ng-container>
				</div>
			</ion-list>
			<ion-button class="btn" color="primary" type="submit" expand="block">Submit</ion-button>
		</form>
	</div>
</ion-content>