/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
	/* Set the font family of the entire app */
	// --ion-font-family: 'Lato', sans-serif;
	
	--app-small-margin: 18px;
	--app-narrow-margin: 10px;
	--app-fair-margin: 15px;
	--app-broad-margin: 20px;

	--app-small-radius: 5px;
	--app-narrow-radius: 10px;
	--app-fair-radius: 15px;
	--app-broad-radius: 20px;
	.btn {
		border-radius: var(--app-small-radius);
		text-transform: initial;
		height: 60px;
		margin-inline: 0px;
	}
	
	.inputs-list {
		margin: 0px;
		--ion-item-background: var(--ion-color-white);

		.input-item {
			--background: var(--ion-color-light);
			--padding-start: 0px;
			--padding-end: 0px;
			--inner-padding-end: 0px;
			--border-radius: 5px;

			ion-input {
				padding-top: 0%;
				--padding-top: 0px;
			}

			ion-icon {
				margin: 15px 10px 5px 5px !important;
			}

			ion-button {
				margin: 15px 10px 0 0 !important;
			}
		}

		.error-container {
			margin: calc(var(--page-margin) / 2) 0px;

			.error-message {
				display: flex;
				align-items: center;
				color: var(--ion-color-danger);
				font-size: 14px;

				ion-icon {
					padding-inline-end: calc(var(--page-margin) / 2);
				}
			}
		}
	}

	.alert .alert-wrapper {

		.alert-head {
			text-align: center;
			background: var(--ion-color-primary);
		}

		.alert-title {
			color: var(--ion-color-white);
		}

		.alert-message {
			padding: 10px;
			text-align: center;
			line-height: 20px;
			font-size: large;
			color: black;
		}

		.alert-button-group.sc-ion-alert-md {
			padding: 0px;
			justify-content: center;
		}
	}

	#container {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		img {
			width: 100px;
		}

		p {
			font-size: 16px;
			font-weight: 900;
			line-height: 0px;
		}

		span {
			font-size: 14px;
			color: #8c8c8c;
			margin: 0;
		}
	}

	#error-container {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 60%;
		transform: translateY(-40%);

		img {
			width: 100px;
		}

		p {
			font-size: 16px;
			font-weight: 900;
			line-height: 0px;
		}

		span {
			font-size: 14px;
			color: #8c8c8c;
			margin: 0;
		}
	}

	.header-logo {
		height: 50px;
		width: 50px;
		margin-right: 16px;
	}
}

.confirm-alert .alert-wrapper {
	.alert-head {
		text-align: center;
		background: var(--ion-color-primary);
	}

	.alert-title {
		color: var(--ion-color-white);
	}

	.alert-message {
		padding: 10px;
		text-align: center;
		line-height: 20px;
		font-size: larger;
		color: black;
	}

	.alert-button-group.sc-ion-alert-md {
		padding: 0px;
		justify-content: center;
	}
  }

  ion-modal.fullscreen {
	--width: 100%;
	--height: 100%;
	--border-radius: 0;
}