<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>Home</ion-title>
		<ion-avatar slot="end" class="header-logo">
			<img src="./assets/img/logo1.png" alt="Hindalco">
		</ion-avatar>
	</ion-toolbar>
	<!-- <ion-searchbar class="ion-no-padding ion-no-margin" show-clear-button="focus"></ion-searchbar> -->
</ion-header>

<ion-content [fullscreen]="true">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="container">
		<ion-row *ngIf="user">
			<ion-col size="12" class="ion-no-padding">
				<ion-item lines="none" style="border-radius: 12px;">
					<ion-avatar slot="start" class="user-image">
						<img [src]="user?.avatar" alt="Hindalco" *ngIf="user.avatar!=''">
						<img src="./assets/img/logo1.png" alt="Hindalco" *ngIf="user.avatar==''">
					</ion-avatar>
					<ion-label class="ion-margin-top">
						<strong class="name">{{ user.username }}</strong>
						<p class="role">{{ user.plant?.plant_name }}</p>
						<p class="role">Role: {{ user.role?.role_name }}</p>
					</ion-label>
				</ion-item>
			</ion-col>
		</ion-row>
		<div *ngIf="trips">
			<h6 class="label">Trips</h6>
			<ion-row class="work-orders" *ngFor="let trip of trips" (click)="viewTrip(trip)">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin" button>
						<ion-row>
							<ion-col size="6" class="ion-text-left">Trip No: <br><b>{{ trip.trip_no }}</b></ion-col>
							<ion-col size="6" class="ion-text-right">
								<ion-chip color="warning" *ngIf="trip.draft && trip.draft == 1">
									Drafted
								</ion-chip>
							</ion-col>
							<ion-col size="6" class="ion-text-left">Wagon No: <br><b>{{ trip.wagon_no }}</b></ion-col>
							<ion-col size="6" class="ion-text-right">Date: <br><b>{{ convertDate(trip.trip_date_time)
							}}</b></ion-col>
							<ion-col size="12" class="ion-text-left">Customer <br><b>{{ trip.customer?.customer_name
									}}</b></ion-col>

							<ion-col size="12" class="ion-text-left">Transporter <br><b>{{
									trip.transporter?.transporter_name }}</b></ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"
				[disabled]="meta.page==meta.last_page">
				<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Data.....">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>
		<div *ngIf="!trips">
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
			<ion-row class="work-orders">
				<ion-col size="12" class="ion-no-padding">
					<ion-card class="ion-no-padding ion-no-margin">
						<ion-row>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
							<ion-col size="6" class="ion-text-left">
								<ion-skeleton-text [animated]="true" style="width: 30%">
								</ion-skeleton-text>
								<ion-skeleton-text [animated]="true" style="width: 90%">
								</ion-skeleton-text>
							</ion-col>
						</ion-row>
					</ion-card>
				</ion-col>
			</ion-row>
		</div>
		<div id="container" *ngIf="trips?.length==0">
			<img src="./assets/img/logo.png">
			<p>No data found.</p>
			<span>Please check back later !...</span>
		</div>
	</div>
</ion-content>