:host {
	--page-margin: var(--app-small-margin);
	--page-background: var(--ion-color-light);
}

ion-content {
	--background: var(--page-background);
}

.container {
	padding: var(--page-margin);
}

.name {
	font-size: 18px;
	color: #000
}

.label {
	font-family: 'system-ui';
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #3E3E3E;
	margin-top: 30px;
}

.status {
	margin-top: 10px;

	.col1 {
		padding-left: 0px;
	}
	.col2 {
		padding-right: 0px;
	}
}

.work-orders {
	margin-top: 10px;
}

ion-card {
	padding: 5px;
	box-shadow: none;
	border-radius: 10px;
}

.role {
	color: #A9A9A9;
	font-size: 15px;
}

.card-label-count {
	color: #f25c08;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.card-label-name {
	text-align: center;
	color: black;
	margin-top: 5px;
}

.user-image {
	width: 100px;
	height: 100px;
}