<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>Account</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="card ion-text-center">
		<ion-thumbnail class="avatar">
			<img src="./assets/img/logo.png" alt="Hindalco">
		</ion-thumbnail>
		<ion-item-group>
			<ion-item-divider>
				Menu
			</ion-item-divider>
			<ion-item lines="full" button detail [routerLink]="['profile']">
				<ion-icon slot="start" name="person-outline"></ion-icon>
				<p class="text">My Profile</p>
			</ion-item>
			<ion-item lines="full" button detail [routerLink]="['password']">
				<ion-icon slot="start" name="key-outline"></ion-icon>
				<p class="text">Change Password</p>
			</ion-item>
			<ion-item lines="full" button detail (click)="logout()">
				<ion-icon slot="start" name="log-out-outline"></ion-icon>
				<p class="text">Logout</p>
			</ion-item>
		</ion-item-group>
	</div>
</ion-content>