.avatar {
	height: 150px;
	width: 150px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

ion-item-divider {
	--background: var(--ion-color-light);
    --padding-left:16px;
}

.card {
	margin-top: 16px;
}